html,body{
	width:100%;
  height: auto;
}

.container{
    width: 100%;
    height: 100%;
    padding:0!important;
}
nav{
  width: 100%;
  height: auto;
  position:absolute;
  z-index: 2;
  text-align: center;
  a{color:#fff!important; text-decoration:none!important;}
  h1{
    color:#fff;
    text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
  }
  ul{
    border-top:1px solid #fff;
    width: 40%;
    margin: 0 auto;

    li{
      color: #fff;
      display: inline-block;
     text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
     padding-left:10px;
     font-size: 0.7em;
     &:hover{
      cursor: pointer;
     }
    }
  }
}
.lead{
  font-size: 2em;
  margin-bottom:0;
}
.slide1{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image1.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide2{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide3{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide4{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image4.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide5{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.modal-header{
  border:none;
}
.modal-content{
 font-size: 0.7em!important;
}


.wrap{
  position:absolute;
  z-index: 1000;
  width: 80%;
  height: auto;
  margin:20% auto;
  left: 10%;
  #right{
    float: right;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background:rgba(0, 0, 0, 0.5);
    span{
    color: #fff;
    margin:25px 0 0 25px;
   }
   &:hover{
    background:rgba(0, 0, 0, 0.7);
    }
  }
  #left{
    float: left;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background:rgba(0, 0, 0, 0.5);
    span{
    color: #fff;
    margin:25px 0 0 25px;
    }
     &:hover{
    background:rgba(0, 0, 0, 0.7);
   }
  }
}

@media (max-width: 500px){
  nav .lead{
    font-size: 30px;
  }
 nav ul{
  width: 90%;
  text-align: center;
  li{
    font-size:15px;
    padding-left:0px;
  }
 }
 .modalDialog > div{
  width: 90%!important;
  margin: 0 auto;
 }
 article p{
  font-size: 0.9em;
 }
 h3{
  font-size: 1.2em!important;
 }
 .wrap{
  margin-top:300px!important;
  width: 95%;
  left: 2%;
 }
}
@media (max-width: 750px){
  nav ul{
  width: 90%;
  text-align: center;
 }
 .wrap{
   margin-top:140px;
}
}