html,body{
	width:100%;
  height: auto;
   font-family: 'Raleway', sans-serif!important;
}

.container{
    width: 100%;
    height: 100%;
    padding:0!important;
}
nav{
  width: 100%;
  height: auto;
  position:absolute;
  z-index: 2;
  text-align: center;
  a{color:#fff!important; text-decoration:none!important;}
  p {
    color:#fff;
    font-size: 40px;
    font-weight: 100!important;
    font-family: 'Raleway', sans-serif!important;
  }
  ul{
    border-top:1px solid #fff;
    width: 40%;
    margin: 0 auto;

    li{
      color: #fff;
      display: inline-block;
     text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
     margin-right:5px; 
     font-size: 0.7em;
     &:hover{
      cursor: pointer;
     }
    }
  }
}
.lead{
  font-size: 2em;
  margin-bottom:0;
}
.slide1{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image1.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide2{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide3{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide4{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image4.jpg') no-repeat top  fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.slide5{
	width:100%;
	height:100%;
	position:fixed;
	background: url('image5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
}
.modal-header{
  border:none;
}
.modal-content{
 font-size: 0.7em!important;
}


.wrap{
  position:absolute;
  z-index: 1000;
  width: 80%;
  height: auto;
  margin:20% auto;
  left: 10%;
  #right{
    float: right;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background:rgba(0, 0, 0, 0.5);
    span{
    color: #fff;
    margin:25px 0 0 25px;
   }
   &:hover{
    background:rgba(0, 0, 0, 0.7);
    }
  }
  #left{
    float: left;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background:rgba(0, 0, 0, 0.5);
    span{
    color: #fff;
    margin:25px 0 0 25px;
    }
     &:hover{
    background:rgba(0, 0, 0, 0.7);
   }
  }
}
.story_body {
  padding:10px;
    li{
 list-style-type:none;
 cursor:pointer;
  color:#15c;
  
  position:relative;
   p{
   float: left;
   margin-top: 40px;
  }
  img{
    float: left;
    margin-top: 10px;
  }
  }
}

@media (max-width: 500px){
  nav .lead{
    font-size: 30px;
  }
 nav ul{
  width: 90%;
  text-align: center;
  li{
    font-size:15px;
    padding-left:0px;
  }
 }
 .modalDialog > div{
  width: 90%!important;
  margin: 0 auto;
 }
 article p{
  font-size: 0.9em;
 }
 h3{
  font-size: 1.2em!important;
 }
 .wrap{
  margin-top:300px!important;
  width: 95%;
  left: 2%;
 }
 .story_body {
   p{
   float: left;
   margin-top: 0px!important;
   font-size:15px!important;
    }
  }
}

.bs-example-modal-lg-video0,
.bs-example-modal-lg-video1,
.bs-example-modal-lg-video2,
.bs-example-modal-lg-video3,
.bs-example-modal-lg-video4,
.bs-example-modal-lg-video5,
.bs-example-modal-lg-video6,
.bs-example-modal-lg-video7{
  .modal-content{
  background-color:#000;
  color:#15c;
  iframe{
    max-width:900px;
    width:100%;
    height:500px;

   }
  }
}


.modal-dialog.stories>.modal-content{
  max-width: 45%;
  left:25%;
  position:absolute;
}

@media (max-width: 750px){
  nav ul{
  width: 90%;
  text-align: center;
 }
 .wrap{
   margin-top:140px;
  }
  .story_body li{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
